/* ==========================================================================
   Project-Specific Style in this file for

   Project: KIW homepage
   Author: Katherine Wyman
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Architects+Daughter);


/* ------------------------------------------------
    Large Scale Structure
------------------------------------------------ */
html, body {
  height: 100%;
  font-family: 'Open Sans', san serif;
  font-size: 15px;
}

.main-content {
  /*max-width: 800px;*/
  width:70%;
  padding-top: 40px;
  margin: 0 0 40px 210px;
  /*margin: 0 auto;
  margin-left: 210px;*/
}
h1,h2,h3,h4,h5{font-family: 'Architects Daughter', san serif;}

h1{font-size: 220%;}
h2{font-size: 170%;}
h3{font-size: 130%;}
h4{font-size: 120%;}


.bold{
  font-weight: bold;
}


/* ------------------------------------------------
    Home
------------------------------------------------ */
#profile_pic img{
  width: 100%;
  max-width: 300px;
}

#home-page h1{
    padding-bottom: 0;
    margin-bottom: 0;
}
#home-page h2{
  margin:0;
  padding:0;
  color: #4D9078;
  font-weight: bold;
  text-align: left;
}
#home-page h3{
  color: #4D9078;
  padding-bottom: 0px;
  margin-bottom: 0;
  font-weight: bold;
  text-align: left;
  font-family: 'Open Sans', san serif;
}


.img_caption{
  color:#999;
  font-size: 80%;
  text-align: right;
}

.glance{
    background-color: #eee;
    padding:0 20px 20px 20px;
}

.glance ul{
    width: 100%;
}

.glance li{
    width:33%;
    float:left;
}

/* ------------------------------------------------
    Resume
------------------------------------------------ */
#resume{font-family: 'Open Sans', san serif;}
#resume td{padding-right:10px;}

#resume h2{
  font-family: 'Architects Daughter', san-serif;
  margin-bottom: 10px;
}

#resume h3{ /*.title*/
  font-family: 'Open Sans', san serif;
  margin:0;
  padding:10px 0px 5px 0px;
  color: #4D9078;
  font-weight: bold;
  text-align: left;
}
#resume .section_header td{border-bottom: 1px solid #666;}
#resume .location{
  text-align: left;
  font-size: 90%;
  font-style: italic;
  color: #666;
}
#resume .dates{
  text-align: right;
  font-size: 90%;
  font-style: italic;
  color: #666;
}

#resume_sidebar{
  background-color: #eee;
  max-width: 98%;
}
#resume_sidebar h4{
margin: 0px;
    margin-top: 5px;
  font-family: 'Open Sans', san serif;
  color: #4D9078;
}
#resume_sidebar_content{padding:20px;}
#resume_sidebar_content p{
  padding:0px;
  margin:0px;
  padding-left: 10px;
  padding-bottom:10px;
}

/* ------------------------------------------------
    Portfolio
------------------------------------------------ */
.project_box{
  margin-bottom: 40px;
}

h2.project_title{
  margin-bottom: 0px;
  clear: both;
  color:#4D9078;
}

.project_bio{
  margin: 0px;
  font-size: 100%;
  font-weight: normal;
  font-style: italic;
  color: #666;
}

p.project_pic{
  float:right;
  padding:3px;
  border: 1px solid #999;
  margin: 0;
  clear: both;
  width:100%;
  /*height: 130px;*/
  overflow: hidden;
  align:center;
  /*border:1px solid #eee;*/
}

.project_pic img{
  width:100%;
  margin: 0 auto;
}

.project_skills{
  float: right;
  margin-top: 0px;
  font-size: 90%;
  font-weight: normal;
  color: #666;
}
/*
.portfolio{
  list-style-type: none;
}*/

/* ------------------------------------------------
    Contact
------------------------------------------------ */
#contact-page{}
#contact_table{}

#contact_table td{
  vertical-align:middle;
  text-align: right;
  padding: 10px;
}
#contact_table input[type="submit"]{}
#contact_table input[type="text"]{
  float:left;
  border: 0px;
  background-color: #d6d6d6;
  height: 50px;
  width: 500px;
  padding: 0px 10px;
}

#contact_table textarea{
  border: 0px;
  background-color: #d6d6d6;
  height: 200px;
  width: 500px;
  padding: 0px 10px;
}

#contact_table label{
  font-size: 110%;
}

/* General button style (reset) */
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 10px 40px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before{
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

/* Button 1 */
.btn-1 {
	border: 3px solid #5FAD56;
	color: #5FAD56;
}

/* Button 1f */
.btn-1f {
	overflow: hidden;
}

.btn-1f:after {
	width: 101%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #5FAD56;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.btn-1f:hover,
.btn-1f:active {
	color: #fff;
}

.btn-1f:hover:after {
	height: 130%;
	opacity: 1;
}

.btn-1f:active:after {
	height: 130%;
	opacity: 1;
}

/* ------------------------------------------------
    Sidebar Styles
------------------------------------------------ */
.sidebar-left {
	font-family: "Open Sans", Helvetica, sans-serif;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #292c2f;
	width: 120px;
	height: 100%;
	padding: 20px 0;
}

.sidebar-left a.company-logo {
	display: block;
	text-decoration: none;
	font-family: "Architects Daughter", cursive;
	width: 76px;
	height: 76px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	color:  #ffffff;
	font-size: 28px;
	font-weight: normal;
	line-height: 2.6;
	border-radius: 50%;
	background-color:  #181a1b;
}

.sidebar-left .sidebar-links {
	margin: 20px auto;
}

.sidebar-left .sidebar-links a {
	display: block;
	text-decoration: none;
	margin: 0 auto 5px auto;
	padding: 20px 0;
	background-color: #35393e;
	text-align: center;
	color:  #b3bcc5;
	font-size: 12px;
	font-weight: bold;
	border-left-width: 2px;
	border-left-style: solid;
}

.sidebar-left .sidebar-links a i.fa {
	display: block;
	font-size: 35px;
	margin-bottom: 5px;
}

.sidebar-left .sidebar-links a.selected{
	background-color: #ffffff;
	color:  #7c8085;
	font-size: 12px;
	font-weight: bold;
	cursor: default;
}

.sidebar-left .social-links-top {
  display: none;
	width: 50%;
	margin: 10px auto;
}

.sidebar-left .social-links-top a i.fa {
	font-size: 25px;
	margin: 3px;
	color: #666;
}

.sidebar-left .social-links-bottom {
	width: 25%;
	margin: 10px auto;
}

.sidebar-left .social-links-bottom a i.fa {
    float: left;
    clear:both;
	font-size: 25px;
	margin: 3px;
	color: #666;
}

/* Link Colors */
.sidebar-left .sidebar-links a.link-blue { border-color: #B4436C; }
.sidebar-left .sidebar-links a.link-blue i.fa { color: #B4436C; }
.sidebar-left .sidebar-links a.link-red {	border-color: #F78154; }
.sidebar-left .sidebar-links a.link-red i.fa { color: #F78154; }
.sidebar-left .sidebar-links a.link-yellow { border-color: #F2C14E; }
.sidebar-left .sidebar-links a.link-yellow i.fa { color: #F2C14E; }
.sidebar-left .sidebar-links a.link-green { border-color: #5FAD56; }
.sidebar-left .sidebar-links a.link-green i.fa { color: #5FAD56; }

/* Making the sidebar responsive */

/*@media (max-width: 900px) {

	.main-content{
		max-width: none;
		padding: 40px 20px;
		margin: 0 0 40px;
	}

	.sidebar-left {
		width: auto;
		height: auto;
		position: inherit;
		padding: 20px 0 0;
	}

	.sidebar-left .sidebar-links {
		text-align: center;
		margin: 20px auto 0;
	}

	.sidebar-left .sidebar-links a {
		display: inline-block;
		width: 100px;
		margin: 0;
		padding: 14px 0;
		border-left: none;
		border-top-width: 2px;
		border-top-style: solid;
	}

}*/

/* Mobile phone layout */

/*@media (max-width: 450px) {

	.sidebar-left {
		padding: 20px 0;
	}

	.sidebar-left .sidebar-links {
		text-align: center;
		margin: 20px auto 0;
	}

	.sidebar-left .sidebar-links a {
		display: block;
		max-width: 240px;
		width: auto;
		vertical-align: middle;
		text-align: left;
		margin: 0 auto 5px;
		padding: 10px 25px;
		border-top: none;
		border-left-width: 2px;
		border-left-style: solid;
	}

	.sidebar-left .sidebar-links a i.fa {
		display: inline-block;
		font-size: 20px;
		width: 20px;
		margin: 0 20px 0 0;
		vertical-align: middle;
	}

}*/

/*	Removing margins and paddings from the body, so that
    the sidebar takes the full height of the page */

body {
	margin: 0;
	padding: 0;
}
