/* ==========================================================================
   Responsive Grid Styling
   http://www.responsivegridsystem.com/
   ========================================================================== */

/* -------------------------------------
  General Setup
------------------------------------- */

/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.1%; }
.span_1_of_3 { width: 32.2%; }

/*  GRID OF FOUR  */
.span_4_of_4 { width: 100%; }
.span_3_of_4 { width: 74.6%; }
.span_2_of_4 { width: 47.7%; }
.span_1_of_4 { width: 23.8%; }

/*.padded-content{
    max-width:1024px;
    margin:0px auto;
    padding:0px 30px;
}*/

/* ==========================================================================
   Media Queries
   ========================================================================== */


@media only screen
and (max-width : 1300px) {
}


@media only screen
and (max-width : 1030px) {
}

/* ------------------------------------- */
/* ------------------------------------- */
/*             Large Screens             */
/* ------------------------------------- */
/* ------------------------------------- */


@media only screen
and (max-width : 900px)
/*and (min-width : 601px)*/ {

	.main-content{
		max-width: none;
    padding:0px;
    width:95%;
    margin:10px auto;
	}

	.sidebar-left {
		width: auto;
		height: auto;
		position: inherit;
		padding: 20px 0 0;
	}

	.sidebar-left .sidebar-links {
		text-align: center;
		margin: 20px auto 0;
	}

	.sidebar-left .sidebar-links a {
		display: inline-block;
		width: 100px;
		margin: 0;
		padding: 14px 0;
		border-left: none;
		border-top-width: 2px;
		border-top-style: solid;
	}

  .sidebar-left .social-links-top {
  	display: block;
    width:85px;
  }

  /*.sidebar-left .social-links-top a i.fa {
  	font-size: 25px;
  	margin: 3px;
  	color: #666;
  }*/

  .sidebar-left .social-links-bottom {
  	display: none;
  }

  /*.sidebar-left .social-links-top a i.fa {
  	font-size: 25px;
  	margin: 3px;
  	color: #666;
  }*/

}


/* ------------------------------------- */
/* ------------------------------------- */
/*             Middle Screens            */
/* ------------------------------------- */
/* ------------------------------------- */


@media only screen
and (max-width : 655px)
/*and (min-width : 501px)*/ {
    .col {
        margin: 1%;
    }
    .span_2_of_3 { width: 100%; }
    .span_1_of_3 { width: 100%; }

    p#profile_pic{
        width:300px;
        margin: 0 auto;
    }

    .glance li{
        width:50%;
    }

    p.project_pic{
        height: 150px;
    }
    #contact_table td{
        text-align: left;
        width:100%;
        float:left;
    }
    #contact_table td:first-child {
        padding-bottom: 3px;
    }
    #contact_table td:nth-child(2) {
        padding-top: 0;
    }
    #contact_table{
        width: 100%;
    }
    #contact_table input[type="text"],#contact_table textarea{
        width: 100%;
    }


}





/* ------------------------------------- */
/* ------------------------------------- */
/*              Small Screens            */
/* ------------------------------------- */
/* ------------------------------------- */


@media only screen
and (max-width: 450px){

	.sidebar-left {
		padding: 20px 0;
	}

	.sidebar-left .sidebar-links {
		text-align: center;
		margin: 20px auto 0;
	}

	.sidebar-left .sidebar-links a {
		display: block;
		max-width: 240px;
		width: auto;
		vertical-align: middle;
		text-align: left;
		margin: 0 auto 5px;
		padding: 10px 25px;
		border-top: none;
		border-left-width: 2px;
		border-left-style: solid;
	}

	.sidebar-left .sidebar-links a i.fa {
		display: inline-block;
		font-size: 20px;
		width: 20px;
		margin: 0 20px 0 0;
		vertical-align: middle;
	}
    /*p#profile_pic{
        width:300px;
        margin: 0 auto;
    }*/
    .glance li{
        padding:0 20px;
        width:100%;
    }

}



@media only screen
and (max-width: 396px){
    p#profile_pic{
        width:200px;
        margin: 0 auto;
    }
    p.project_pic{
        height: 100px;
    }
}




@media only screen
and (max-width: 260px){
}
